* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    /* Cores */
   --white-color: #8CBFAF;
   --dark-color: #252525;
   --primary-color: #fffbf1;
   --secondary-color: #b7cc18;
   --light-pink-color: #8cbfaf;
   --medium-gray-color: #ccc;


  /*Fonte Siza*/
  --font-size-s: 0.9rem;
  --font-size-n: 1rem;
  --font-size-m: 1.12rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.3rem;

    /*Fonte weight*/
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

    /*Border radius*/
  --border-radius-s: 8px;
  --border-radius-m: 30px;
  --border-radius-circle: 50%;

    /*Site max width*/
    --site-max-width: 1300px;
    --site-max-height: 1300px;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main, .hero-section {
    flex: 1;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.section-content {
  max-width: 0 auto;
  padding: 0 5rem;
  
}

.section-title {
  text-align: center;
  padding: 60px 0 100px;
  text-transform: uppercase;
  font-size: var(--font-size-xl);
}

/*Navbar*/
header {
  padding: 0 10 0 10;
  width: 100%;
  z-index: 5;
  background: var(--primary-color);
}

header .navbar {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}

.navbar .nav-logo .logo-text {
  color: var(--white-color);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
}

.navbar .nav-menu {
  display: flex;
  gap: 10px;
}

.navbar .nav-menu .nav-link {
  padding: 10px 18px;
  color: var(--white-color);
  font-size: var(--font-size-m);
  border-radius: var(--border-radius-m);
  transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover {
  color: var(--primary-color);
  background: var(--secondary-color);
}

  .navbar :where(#menu-close-button, #menu-open-button) {
    display: block;
    font-size: var(--font-size-l);
  }

.hero-section {
  min-height: 100vh;
  background: var(--primary-color);
}

.hero-section .section-content {
  display: flex;
  align-items: center;
  min-height: 100vh;
  color: var(--white-color);
  justify-content: space-between;
}

.hero-section .hero-details .title {
  font-size: var(--font-size-xxl);
  color: var(--secondary-color);
}

.hero-section .hero-details .subtitle {
  margin-top: 8px;
  max-width: 70%;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
}

.hero-section .hero-details .description {
  max-width: 70%;
  margin: 24px 0 40px;
  font-size: var(--font-size-m);
}

.hero-section .hero-details .buttons {
  display: flex;
  gap: 23px
}

.hero-section .hero-details .button,
.hero-section .hero-details .contact-us {
  padding: 10px 26px;
  border: 2px solid transparent;
  color: var(--primary-color);
  border-radius: var(--border-radius-m);
  background: var(--secondary-color);
  transition: 0.3s ease;
}

.hero-section .hero-details .button:hover,
.hero-section .hero-details .contact-us {
  color: var(--white-color);
  border-color: var(--white-color);
  background: transparent;
}

.hero-section .hero-details .contact-us:hover{
  color: var(--primary-color);
  border-color: var(--secondary-color);
  background: var(--secondary-color);
}

.hero-section .hero-image {
  max-width: 500px;
  margin-right: 30px;
}

/*Sobre*/
.about-section{
  color: #fffbf1;
  padding: 120px 0;
  background:var(--primary-color);
}

.about-section .section-content {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content:space-between;
}

.about-section .about-image {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: var(--border-radius-m);
}

.about-section .about-details .section-title {
  padding: 0;
}

.about-section .about-details {
  max-width: 50%;
}

.about-section .about-details .text{
  line-height: 30px;
  margin: 50px 0 30px;
  text-align: center;
  font-size: var(--font-size-m);
  color: var(--dark-color);
}

 .page-title{
  text-align: center;
}

.about-section .icone-container{
  display: flex;
  gap: 25px;
  justify-content: center;
}

.about-section .icone{
  color: var(--light-pink-color);
  font-size: var(--font-size-xxl);
}


/*Contato*/

.contact-section{
  color: var(--light-pink-color);
  align-items: center;
  justify-items: center;
}

.contact-form {
  max-width: 400px;
  margin: 30px auto 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

.contact-form button {
  background: var(--light-pink-color);
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
}

.contact-form button:hover {
  background: #63867b;
}


/*Quem Somos*/
.section-title {
    text-align: center;
    padding: 50px 20px;
    color: var(--light-pink-color);
}

.team-member-section-title {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #333;
}

.team-member-subtitle {
    max-width: 700px;
    margin: 0 auto 40px; 
    color: #555;
    font-size: 1rem;
}

#team-member-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.team-member {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 12px;
    transition: transform 0.3s ease;
}

 .team-member:hover {
    background: var(--secondary-color);
    transition: 0.2s;
    color: #fffbf1;
}


.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.team-member h3 {
    margin-bottom: 8px;
    color: #333;
}

.team-member a {
    font-weight: var(--font-weight-bold);
    color: var(--light-pink-color);
    text-decoration: none;
}


/*FAQ*/
.faq-section {
    padding: 20px;
    text-align: center;
}

.section-title2 {
    margin-bottom: 40px;
    color: var(--light-pink-color);
    justify-content: center;
    border-radius: var(--border-radius-m);
}

.faq-container {
    text-align: left;
}

.faq-item {
    color: var(--dark-color);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 15px;
    background: var(--primary-color);
}

.faq-question {
    width: 100%;
    background: #f5f5f5;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 1.1rem;
    text-align: left;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
}

/* Footer */
.site-footer {
    background-color: var(--light-pink-color);
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

.site-footer h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.site-footer p {
    font-size: 1rem;
    margin-bottom: 10px;
    color: var(--primary-color);
}

.footer-copy {
    font-size: 0.9rem;
    color: #aaa;
}



@media screen and (max-width: 900px) {
  :root {
  --font-size-m: 1rem;
  --font-size-l: 1.3rem;
  --font-size-xl: 1.5rem;
  --font-size-xxl: 1.8rem;
  }



  .navbar .nav-menu {
    display: block;
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    background: var(--white-color);
    transition: left 0.2s ease;
  }

  .navbar .nav-menu .nav-link {
    color: var(--dark-color);
    display: block;
    margin-top: 17px;
    font-size: var(--font-size-l);
  }


  .hero-section .section-content {
    gap: 50px;
    text-align: center;
    padding: 30px 20px 20px;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .hero-section .hero-details :is(.subtitle,.description) {
    max-width: 100%;;
  }

  .hero-section .hero-details .buttons {
    justify-content: center;
  }
  
  .hero-section .hero-image {
    max-width: 270px;
    margin-right: 0;
    }

    .about-section .section-content {
      gap: 70px;
      flex-direction: column;
    }

    #team-member-container {
      grid-template-columns: 1fr;
    }

}
